body {
    text-align: center;
    font-family: Arial;
}

#gameArea {
    width: 300px;
    height: 400px;
    background: lightblue;
    margin: auto;
    position: relative;
    overflow: hidden;
    border: 2px solid black;
}

#player {
    width: 40px;
    height: 40px;
    background: red;
    position: absolute;
    bottom: 10px;
    left: 130px;
}

.obstacle {
    width: 40px;
    height: 40px;
    background: black;
    position: absolute;
    top: 0;
}


