body {
    text-align: center;
    font-family: Arial;
}

#gameArea {
    width: 300px;
    height: 400px;
    background: lightblue;
    margin: auto;
    position: relative;
    overflow: hidden;
    border: 2px solid black;
}

#player {
    width: 40px;
    height: 40px;
    background: red;
    position: absolute;
    bottom: 10px;
    left: 130px;
}

.obstacle {
    width: 40px;
    height: 40px;
    background: black;
    position: absolute;
    top: 0;
}
body {
    margin: 0;
    overflow: hidden;
    background: black;
}

#gameArea {
    width: 100vw;   /* full mobile width */
    height: 100vh;  /* full mobile height */
    background: black;
    position: relative;
    overflow: hidden;
}

#player {
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    bottom: 20px;
    left: 40%;
}

.obstacle {
    width: 40px;
    height: 40px;
    background: yellow;
    position: absolute;
    top: 0;
}
